.Header {
  background-color: rgb(27, 34, 44);
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 30px;
  overflow: hidden;
  position: fixed;
  top: 0;
  justify-content: space-between;
  z-index: 5;
}
.Image img {
  width: auto;
  height: 50px;
  flex: 1;
  animation: Spin 3s linear infinite;
}
/* Header Navigaters /Right section */

.List {
  flex: 2;
}
.List ul {
  list-style: none;
}
.List ul li {
  display: inline-block;
}
.List ul li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  padding: 0 10px 0 40px;
}
/* Header intaract /Left-section  */
.Info {
  display: flex;
  align-items: center;
}
.Avthar img {
  height: 31px;
  width: auto;
  flex: 1;
}
.userId {
  flex: 1;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}
@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
