@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Kanit:wght@300&family=Roboto+Slab:wght@300&display=swap");
.postersRow {
  margin: 20px;
}
.postersRow h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
}

.posters::-webkit-scrollbar {
  display: none;
}
.posters {
  display: flex;
  overflow: scroll;
}
.postImg {
  margin: 10px;
  max-height: 260px;
}
.smPost {
  margin: 10px;
  max-height: 200px;
}
