@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Kanit:wght@300&family=Roboto+Slab:wght@300&display=swap");
.postersRow {
  margin: 20px;
}
.postersRow h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
}

.posters::-webkit-scrollbar {
  display: none;
}
.posters {
  display: flex;
  overflow: scroll;
  height: 300px;
  padding-top: 20px;
}
.postImg {
  margin: 10px;
  max-height: 280px;
}
.smPost {
  margin: 10px;
  max-height: 200px;
}
.smPost:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in;
}
.postersSM {
  display: flex;
  overflow: scroll;
}
.postersSM::-webkit-scrollbar {
  display: none;
}
.postImg:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in;
}
